# Списки

In [22]:
import pandas as pd
df = pd.read_csv('C:/Users/D.Elistratov/Documents/Презентации лекций/Неделя 6/ПИТОН/Marketing_pilot.csv') #skymusic.marketing_pilot_proc

In [26]:
df.index

RangeIndex(start=0, stop=15171, step=1)

In [28]:
id(df)

2869068964720

In [27]:
df = df.set_index('user_id')

In [19]:
type(df['ad_date'])
df['ad_date'].index

Int64Index([ 5061,  4616,   842,  3571,  4642,   370,  4466,  2692,  3891,
              608,
            ...
            11745, 11746,  9169, 11748, 11749, 11750,   106,  3706, 11753,
            11754],
           dtype='int64', name='user_id', length=15171)

In [29]:
a = 3

In [35]:
id(a)

140736844277712

In [33]:
a = a + 3

In [34]:
a

6

In [36]:
lst = [1, 2, 3, 4, 5]

#lst.append('Строка')

print(lst)
print(id(lst))

[1, 2, 3, 4, 5]
2869105705664

In [7]:
lst[2:-1]

[3, 4]

In [37]:
lst.append('Строка')

In [38]:
print(id(lst))

2869105705664

In [41]:
#ll = [df['ad_date'], df['purchase_date'], 3]
#print(ll)

In [44]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [45]:
for i in a:
    if i < 5:
        print(i)

1
1
2
3

In [55]:
lst = [1, 2, 3, 4, 5]
#print(lst[0])
#print(lst[-1])
print('Первый:'+str(lst[0])+'; последний:'+str(lst[-1]))
#print(f'Первый: {lst[0]}; последний: {lst[-1]}')

Первый:1; последний:5

In [58]:
a = 'LALA'
b= 'NANA'
print(a+b)

LALANANA

In [59]:
x = (1,2,3)

In [60]:
x

(1, 2, 3)

In [61]:
type(x)

tuple

In [62]:
x = 1,2,3

In [63]:
x

(1, 2, 3)

In [64]:
def my_func(a):
    b = a**2
    c = a**3
    return b, c

In [65]:
my_func(3)

(9, 27)

In [74]:
var1, var2 = my_func(3)
var = my_func(3)

In [75]:
print(type(var1))
print(type(var2))
print(type(var))

<class 'int'>
<class 'int'>
<class 'tuple'>

In [76]:
c = [1,2,3]
print(type(c))
print(id(c))

d = 1,2,3
print(type(d))
print(id(d))

<class 'list'>
2869104205568
<class 'tuple'>
2869104443712

In [77]:
c.append(4)
print(c)
print(id(c))

[1, 2, 3, 4]
2869104205568

In [78]:
d = d + (4,)
print(d)
print(id(d))

(1, 2, 3, 4)
2869104557328

# Кортежи

In [79]:
x = ()
print(x)
#Create an empty tuple with tuple() function built-in Python
tuplex = tuple()
print(tuplex)

()
()

In [87]:
#Create a tuple with numbers
#tuplex = 5, 10, 15, 20, 25
#print(tuplex)

#Create a tuple of one item
tuplex = (5,)
print(tuplex)
print(type(tuplex))

(5,)
<class 'tuple'>

In [90]:
listx = [5,]
print(listx)
print(type(listx))

[5]
<class 'list'>

In [91]:
t = 'a', 'b'

In [92]:
t

('a', 'b')

In [103]:
listx = [1,2,3]
n1, n2, n3 = listx
print(n2)

2

In [104]:
#create a tuple
tuplex = 4, 8, 3 
print(tuplex)


n1, n2, n3 = tuplex
#unpack a tuple in variables
#print(n2)

#print(n1 + n2 + n3) 
#the number of variables must be equal to the number of items of the tuple
n1, n2, n3 = tuplex

(4, 8, 3)

In [110]:
tuplex[:3]

(4, 6, 2)

In [116]:
#create a tuple
tuplex = (4, 6, 2, 8, 3, 1) 
print("Адрес tuplex  = ",id(tuplex))
print('\n')
#print(tuplex)

#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuplex2 = tuplex + (9,)
print("Адрес tuplex  = ",id(tuplex))
print("Адрес tuplex2 = ",id(tuplex2))
print('\n')
#print(tuplex)

#adding items in a specific index
tuplex3 = tuplex2[:5] + (15, 20, 25) + tuplex2[:5]
#print(tuplex)
print("Адрес tuplex  = ",id(tuplex))
print("Адрес tuplex2 = ",id(tuplex2))
print("Адрес tuplex3 = ",id(tuplex3))
print('\n')

#converting the tuple to list
#listx = list(tuplex) 

#use different ways to add items in list
#listx.append(30)
#tuplex = tuple(listx)
#print(tuplex)

Адрес tuplex  =  2869104408320


Адрес tuplex  =  2869104408320
Адрес tuplex2 =  2869104408704


Адрес tuplex  =  2869104408320
Адрес tuplex2 =  2869104408704
Адрес tuplex3 =  2869104552976

In [118]:
#create a tuple
tuplex = (4, 6, 2, 8, 3, 1) 
#print("Адрес tuplex  = ",id(tuplex))
print('\n')
print(tuplex)

#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuplex = tuplex + (9,)
#print("Адрес tuplex  = ",id(tuplex))
print('\n')
print(tuplex)

#adding items in a specific index
tuplex = tuplex[:5] + (15, 20, 25) + tuplex[:5]
print(tuplex)
#print("Адрес tuplex  = ",id(tuplex))
print('\n')

(4, 6, 2, 8, 3, 1)


(4, 6, 2, 8, 3, 1, 9)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3)

In [121]:
listx = list(tuplex) 

lst1 = [1,3,5,7]
tpl1 = tuple(lst1)

In [123]:
lst1[:2]

[1, 3]

In [122]:
tpl1

(1, 3, 5, 7)

In [130]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  ''.join(tup)
print(str)

exercises

In [131]:
lst = ['e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's']
str =  ''.join(lst)
print(str)

exercises

In [132]:
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
print("r" in tuplex)
print(5 in tuplex)

True
False

In [133]:
listx = ["w", 3, "r", "e", "s", "o", "u", "r", "c", "e"]
print("r" in listx)
print(5 in listx)

True
False

In [ ]:
#Convert list to tuple
listx = [5, 10, 7, 4, 15, 3]
print(listx)
#use the tuple() function built-in Python, passing as parameter the list
tuplex = tuple(listx)
print(tuplex)

In [157]:
tuplex = (1,2,3,4,5)
#print(tuplex)
#lstt = list(tuplex)
print(lstt)
#print(lstt)
#lstt.remove(4)
#print(lstt)
#tuplex = tuple(lstt)
#print(tuplex)

lstt = list(tuplex)
lstt.remove(1)
tuplex = tuple(lstt)

print(tuplex)

[1, 2, 3, 4, 5]
(2, 3, 4, 5)

In [158]:
#create a tuple
tuplex = "w", 3, "r", "s", "o", "u", "r", "c", "e"
print(tuplex)

#tuples are immutable, so you can not remove elements
#using merge of tuples with the + operator you can remove an item and it will create a new tuple
tuplex = tuplex[:2] + tuplex[3:]
print(tuplex)

#converting the tuple to list
listx = list(tuplex) 

#use different ways to remove an item of the list
listx.remove("c") 
#converting the tuple to list
tuplex = tuple(listx)
print(tuplex)

('w', 3, 'r', 's', 'o', 'u', 'r', 'c', 'e')
('w', 3, 's', 'o', 'u', 'r', 'c', 'e')
('w', 3, 's', 'o', 'u', 'r', 'e')

In [159]:
#create a tuple
tuplex = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
#used tuple[start:stop] the start index is inclusive and the stop index
_slice = tuplex[3:5]
#is exclusive
print(slice)

#if the start index isn't defined, is taken from the beg inning of the tuple
_slice = tuplex[:6]
print(_slice)

#if the end index isn't defined, is taken until the end of the tuple
_slice = tuplex[5:]
print(_slice)

#if neither is defined, returns the full tuple
_slice = tuplex[:]
print(_slice)

#The indexes can be defined with negative values
_slice = tuplex[-8:-4]
print(_slice)

#create another tuple
tuplex = tuple("HELLO WORLD")
print(tuplex)

#step specify an increment between the elements to cut of the tuple
#tuple[start:stop:step]
_slice = tuplex[2:9:2]
print(_slice)

#returns a tuple with a jump every 3 items
_slice = tuplex[::4]
print(_slice)

#when step is negative the jump is made back
_slice = tuplex[9:2:-4]
print(_slice)

<class 'slice'>
(2, 4, 3, 5, 4, 6)
(6, 7, 8, 6, 1)
(2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
(3, 5, 4, 6)
('H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D')
('L', 'O', 'W', 'R')
('H', 'O', 'R')
('L', ' ')

In [ ]:
#create a tuple
tuplex = tuple("index tuple")
print(tuplex)
#get index of the first item whose value is passed as parameter
index = tuplex.index("p")
print(index)
#define the index from which you want to search
index = tuplex.index("p", 5)
print(index)
#define the segment of the tuple to be searched
index = tuplex.index("e", 3, 6)
print(index)
#if item not exists in the tuple return ValueError Exception
index = tuplex.index("y")

In [ ]:
#create a tuple
tuplex = tuple("w3resource")
print(tuplex)
#use the len() function to known the length of tuple
print(len(tuplex))

In [190]:
a = 1,2,3,4,5,6,7

In [191]:
print(a[::])

(1, 2, 3, 4, 5, 6, 7)

In [193]:
print(a[::2])

(1, 3, 5, 7)

In [194]:
print(a[::-1])

(7, 6, 5, 4, 3, 2, 1)

In [195]:
print(a[::-2])

(7, 5, 3, 1)

In [184]:
new_tup = x_tuple[::-1]

In [185]:
new_tup

('c', 'b', 'a')

In [188]:
new_list = x_list[::-2]

In [189]:
new_list

['c', 'a']

# Словари

In [ ]:
import operator

In [231]:
dict1 = {
    'Ваня':6
    ,'Вася':5
    ,'Даня':4
    , 6:'lll'
    , (3,4): 3
    , [1,2]: 4
}

TypeError: unhashable type: 'list'

In [206]:
type(dict1)

dict

In [207]:
dict1

{'Ваня': 6, 'Вася': 5, 'Даня': 4, 6: 'lll', (3, 4): 3}

In [212]:
dict2 = {
    'id_driver':'count'
    ,'cnt_all':'sum'
    ,'payment':'mean'
}

In [213]:
print(dict2)

{'id_driver': 'count', 'cnt_all': 'sum', 'payment': 'mean'}

In [220]:
d = {0:10, 1:20}
print(d)

d.update({2:30})
print(d)

{0: 10, 1: 20}
None

In [224]:
a = [1,2,3]
a.append(4)
b = a
print(b)

[1, 2, 3, 4]

In [225]:
my_dict = {121: 'Значение 1', 'key2': 'Значение 2', 'key 3': 'Значение 3'}
print(my_dict[121])
print(my_dict['key 3'])
print(my_dict['lala'])

Значение 1
Значение 3

KeyError: 'lala'

In [230]:
print(my_dict.get(121,'Что ты несешь???'))
print(my_dict.get('key2','Что ты несешь???'))
print(my_dict.get('lala','Что ты несешь???'))

Значение 1
Значение 2
Что ты несешь???

Главное требование к имени ключа словаря в Python – он должен быть хешируем (не изменяем). 
По сути, это означает его неизменяемость, немутируемость.
К немутабельным объектам относят: строки, числа, булевы значения, кортежи, frozenset и некоторые другие. 
    Также, в словаре не может быть двух ключей с одинаковыми наименованиями.

In [238]:
my_dict = {1.1: 120, 'k2': 'Nice key', (2, 4): [1, 2, 99], True: 71, 1.1:5}
print(my_dict[1.1])
print(my_dict[(2, 4)])
print(my_dict[True])
#print(my_dict[6]) # Появится ошибка, говорящая о неверном ключе

5
[1, 2, 99]
71

In [237]:
my_dict

{1.1: 5, 'k2': 'Nice key', (2, 4): [1, 2, 99], True: 71}

In [ ]:
my_dict = {1.1: 120, 'k2': 'Nice key', (2, 4): [1, 2, 99], True: 71, frozenset({9, 1}): 'Значение',[1, 2, 3]:1}

Методы keys(), items(), values() еще называют объектами views (объекты просмотра словаря). Они позволяют просматривать все элементы словаря и имеют некоторые особенности:

1. keys() – возвращает список ключей в исходном порядке, все элементы уникальны, ведут себя как множество (set): могут объединяться, пересекаться и т.п., являются итерабельными, их нельзя менять напрямую и вызывать по индексу
2. values() – контейнер со значениями словаря, в котором элементы могут повторяться (т.е. не ведет себя как множество). В остальном, свойства аналогичны методу keys()
3. items() – список элементов словаря в виде кортежей, где первым идет ключ, а вторым объектом – значение. Если значения словаря неизменямые, то контейнер items() будет обладать свойствами сета. Остальные особенности совпадают с keys()
Немаловажная специфика объектов views – они динамично меняются при любых изменениях словаря.

In [244]:
my_dict = {1: 'value 1', 2: 'value 2', 3: 'value 3', 4: 'value 4'}
keys = my_dict.keys()
print(keys)
print(type(keys))

#######################################################################

for i in keys:
    print(i)
    print(type(i))

dict_keys([1, 2, 3, 4])
<class 'dict_keys'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>

In [247]:
my_dict = {1: 'value 1', 2: 'value 2', 3: 'value 3', 4: 'value 4'}
keys = my_dict.keys()
keys # Порядок ключей сохраняется

# Объект keys итерируемый
#for element in keys:
#    print(element)
    
# Нельзя обратиться к элементу по индексу или добавить / удалить новые
#keys[0] # Ошибка TypeError
#keys[0] = 121 # Ошибка TypeError
#del keys[0] # Ошибка TypeError

dict_keys([1, 2, 3, 4])

In [253]:
values = my_dict.values()
values # Порядок значений сохраняется
#print(values[0])
print(type(values))

<class 'dict_values'>

In [254]:

items = my_dict.items()
items # Порядок пар "ключ: значение" сохраняется

dict_items([(1, 'value 1'), (2, 'value 2'), (3, 'value 3'), (4, 'value 4')])

In [256]:
print(type(items))

<class 'dict_items'>

In [266]:
my_dict

{1: 'value 1', 2: 'value 2', 3: 'value 3', 4: 'value 4'}

In [272]:
my_dict.setdefault(3,'Нет такого')
#setdefault()

'value 3'

In [273]:
my_dict

{1: 'value 1', 2: 'value 2', 3: 'value 3', 4: 'value 4', 5: 'Нет такого'}

In [287]:
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

In [283]:
sorted(d.items())

[(0, 0), (1, 2), (2, 1), (3, 4), (4, 3)]

In [286]:
result = dict(sorted(d.items()))

TypeError: 'dict' object is not callable

In [277]:
import operator

In [295]:
result = sorted(d.items(), key=operator.itemgetter(1))
##result1 = dict(sorted(d.items(), key=operator.itemgetter(1), reverse=True))

print(result)
#print(result1)

[(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]

In [296]:
dict(result)

TypeError: 'dict' object is not callable

In [289]:
d.sort(key=operator.itemgetter(1), reverse=True)

AttributeError: 'dict' object has no attribute 'sort'

In [293]:
import operator
x = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
sorted_x = sorted(x.items(), key=operator.itemgetter(1))

In [298]:
sorted_x

[(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]

In [302]:
x = operator.itemgetter(a, 1)

In [300]:
a = [1,2,3]

In [303]:
x

operator.itemgetter([1, 2, 3], 1)

In [304]:
df

         id_group     ad_date purchase_date       promo_type   time_left
user_id
5061            1  2021-02-06           NaN      Gold Bundle  2020-08-23
4616            1  2021-03-07    2021-03-20  Platinum Bundle  2020-12-26
842             1  2021-04-13    2021-05-28  Platinum Bundle  2021-01-02
3571            1  2021-04-01    2021-05-10   Bundle Limited  2020-10-21
4642            1  2021-08-18           NaN  Platinum Bundle  2021-06-08
...           ...         ...           ...              ...         ...
11750           0  2021-03-15    2021-04-12  Platinum Bundle  2020-10-11
106             1  2021-01-11    2021-02-25      Gold Bundle  2020-09-30
3706            1  2021-05-11    2021-07-08      Gold Bundle  2021-03-16
11753           1  2021-02-28           NaN       Std Bundle  2020-12-23
11754           0  2021-06-08    2021-07-28      Gold Bundle  2021-02-23

[15171 rows x 5 columns]

In [310]:
df_gr = df[(df['purchase_date'].notnull()) & (df['promo_type']!='Gold Bundle')].groupby(['id_group','promo_type']).agg({  'purchase_date' : 'max'
                                                     , 'ad_date':'min'
                                                     , 'time_left':'count'
                                                    }).reset_index().rename(columns = {'ad_date':'min_ad'
                                                                                       , 'time_left': 'cnt'
                                                                                       , 'purchase_date':'max_pur'
                                                                                      })

In [311]:
df_gr

   id_group       promo_type     max_pur      min_ad   cnt
0         0   Bundle Limited  2021-09-08  2021-01-01   811
1         0  Platinum Bundle  2021-09-07  2021-01-01  1379
2         0       Std Bundle  2021-09-08  2021-01-01   993
3         1   Bundle Limited  2021-09-08  2021-01-01   776
4         1  Platinum Bundle  2021-10-11  2021-01-01  1450
5         1       Std Bundle  2021-09-08  2021-01-01   915

In [305]:
'''select max(purchase_date) as max_pur
        , min(ad_date) as min_ad
        , count(*) as cnt
        , id_group
        ,promo_type
from df
where purchase_date is not null and promo_type<>'Gold Bundle'
group by id_group
        ,promo_type
'''

SyntaxError: invalid syntax (<ipython-input-305-3a3d5429d628>, line 1)